@import "external";
* {
	margin:0;
	padding: 0;
	font-family: 'Raleway', sans-serif;
	box-sizing: border-box;
}
header {
	width: $ancho60;
	margin: 0px auto;
	height: 60px;
	padding-top: 20px;
	h1 {
	float: left;
	}
	nav {
		float: right;
		margin-right: 80px;		
		a {
			text-transform: uppercase;	
		}
		ul li {
			display: inline-block;
			margin-left: 30px;
		}
		@media all and (max-width: 768px){
			float: none;
			margin: 10px;
		}
	}
	@media all and (max-width: 768px){		
		width: 100%;
		padding-left: 10px;
		padding-top: 10px;
		text-align: center;
	}
	@media all and (max-width: 640px) {
		padding: 5px 0px;
		nav {
			float: none;
			ul li {
				display: block;
				margin: 10px;
			}
		}
		h1 {
	    	float: none;
		}
	}
}
li {
	list-style: none;
}
a {
	text-decoration: none;
	color: $color-aaa;
	font-size: 12px;
	&:hover {
		color: #333;
	}
}
h1 {
	font-size: 30px;
	letter-spacing: 2px
}
.portada {
	width: 100%;
	@media all and (max-width: 768px) {
		width: 150%;
	    right: 190px;
	    position: relative;
	    z-index: -9;
	}
	@media all and (max-width: 640px){
		display: none;
	}
}
.portada-content {
	width: $ancho60;
    margin-left: 25%;
    position: absolute;
    top: 230px;
    h1 {
		color: #fff;
	}
	p {
		color: $color-aaa;
	    font-weight: 100;
		font-size: 12px;
		line-height: 24px;
	}
	@media all and (max-width: 768px) {
		margin-left: 2%;
	    top: 220px;
	}
	@media all and (max-width: 640px) {
		display: none;
	}    
}
.search {
	width: $ancho60;
	margin: -10px auto;
	background: #fff;
	font-size: 12px;
	@media all and (max-width: 768px)  {
		width: 98%;
	}
	@media all and (max-width: 640px) {
		margin: 80px 0px 0px;
	}
}
#search-button {
	width: 20%;
	height: 70px;
	margin-top: -40px;
	margin-right: -5px;	
	border: none;
	background: #37a8d2;
	color: #fff;
}
.searchfield {
	height: 70px;
	width: 80%;
	margin-top: -40px;
	margin-right: -5px;
	padding-left: 20px;
	border: none;
	box-shadow: -1px 1px 1px #eee;
}
.iconos {
	width: $ancho60;
	margin: 0px auto;
	padding: 50px 0px;
	overflow: hidden;
	h3 {
		color: #000;
		text-transform: uppercase;
	}
	@media all and (max-width: 768px) {
		width: 90%;
		padding: 0px;
	}
}
.icons {
	width: 70px;
	-webkit-transition: .3s ease-in-out;
    -moz-transition: .3s ease-in-out;
    -o-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
}
.icons:hover {
	-webkit-transform: scale(1.25);
	transform: scale(1.25);
}
.services {
	float: left;
	width: 25%;
	text-align: center;
	font-size: 12px;
	color: $color-aaa;
	h3 {
		margin-top: 30px;
	}
	@media all and (max-width: 768px) {
		width: 50%;
		padding-top: 50px;
	}
}
.threedot {
	margin-bottom: 20px;
}
.wrap-hostro {
	padding-top: 60px;
	h3{
		text-transform: uppercase;
		font-size: 12px;
	}
}
.iphone {
	width: 80%;
	margin: 0px auto;
	position: relative;
	z-index: 3;
	@media all and (max-width: 640px) {
		width: 40%;
	}
}
.hostro {
	width: $ancho60;
	margin: 0px auto;
	padding-top: 20px;
	text-align: center;
	overflow: hidden;
	p {
		color: $color-aaa;
		font-size: 12px;
	}
	@media all and (max-width: 768px) {
		width: 90%;
	}
}
.hostro-serv, .hostro-serv-left, .hostro-serv-right {
	float: left;
	width: 33%;
	@media all and (max-width: 640px) {
		float: none;
		width: 100%;
		text-align: left;
		overflow: hidden;
	}
}
.hostro-serv-right {
	text-align: left;
	padding-top: 30px;
}
.hostro-serv-left {
	text-align: right;
	padding-top: 30px;
}
.hostro-txt-left {
	float: left;
    width: 70%;
    padding-right: 10px;
    margin-top: 20px;
    @media all and (max-width: 640px) {
    	float: right;
		width: 88%;
    }
    @media all and (max-width: 480px) {
    	width: 80%;
    }
}
.hostro-txt-right {
	float: left;
    width: 70%;
    padding-left: 10px;
    margin-top: 20px;
    @media all and (max-width: 640px) {    	
		float: left;
		width: 88%;
    }
    @media all and (max-width: 480px) {
    	width: 80%;
    }
}
.hsimg-l {
	float: left;
}
.hsimg-r {
	float: left;
}
.pricing {
	width: 100%;
	margin-top: -90px;
	position: absolute;
	@media all and (max-width: 768px) {
		margin: 0px;
	}
}
.tabla-precios {
	width: $ancho60;
	margin: 0px auto;
	padding: 10px 0px 100px;
	text-align: center;
	overflow: hidden;
	margin-top: 40px;
	font-size: 12px;
	position: relative;
	p {
		color: $color-aaa;
	}
	@media all and (max-width: 768px) {
		width: 70%;
	}
	@media all and (max-width: 480px) {
		width: 90%;
	}
}
.price-header {
	text-align: center;
	padding-bottom: 20px;
	h3 {
		text-transform: uppercase;
		font-size: 11px;
	}
}
sup {
	font-size: 12px;
}
hr {
	color: $color-aaa;
	border-top: 1px;
}
.precios {
	float: left;
    width: 22.9%;
    margin: 50px 8.3px 0px;
    padding: 50px 40px 20px;
    background: #fff;
    text-align: left;
    line-height: 3em;
    box-shadow: 1px 1px 10px #ccc;
    ul {
		padding-top: 20px;
	}
	p {
		margin-top: -5px;
		color: $color-aaa;
	}
	@media all and (max-width: 768px) {
		width: 46.8%;
	}
	@media all and (max-width: 640px) {
		width: 47.7%;
	    margin: 20px 5px 0px;
	}
	@media all and (max-width: 480px) {
		width: 47.6%;
	}
	@media all and (max-width: 320px) {	
	width: 39.4%;
	padding: 50px 10px 20px;	
}
}
.pr1 {
	float: right;
	color: #0ccdff;
}
.pr2 {
	float: right;
	color: #ffd608
}
.pr3 {
	float: right;
	color: #f4996c;
}
.pr4 {
	float: right;
	color: #ff5b27;
}
.price-footer {
	text-align: center;
}
.select-plan {
	margin-top: 20px;
	padding: 7px;
    width: 100%;
    border-radius: 3px;
    border: none;
    background: $cs-plan;
    color: #fff;
}
.hosting-use {
	text-align: center;
	background: #142e3f;
	color: #fff;
	font-size: 24px;
	font-weight: 100;
	padding: 60px 0px;
	overflow: hidden;
	span {
		font-weight: 700;
		color: #01b1f7;
	}
}
.contacto {
	width: 100%;
    background-image: url(../images/indexbanner-bg2.jpg);
    background-size: cover;
    background-position: center top;
    height: 60vh;
    overflow: hidden;
    p {
		color: $color-aaa;
		font-size: 12px;
	}
	@media all and (max-width: 640px) {
		margin-top: 50px;
	}
}
.contacto-content {
	text-align: center;
    margin-top: 150px;
    color: #fff;
}
.form {
	width: $ancho60;
	margin: 0px auto;
	padding: 100px 0px;
	text-align: center;
	overflow: hidden;
	input {
		width: 100%;
	    margin-bottom: 10px;
	    padding: 10px;
	    border: 1px solid #eee;
	    border-radius: 3px;
	    height: 40px;
	}
	    p {
		color: $color-aaa;
		font-size: 12px;
	}
	@media all and (max-width: 768px) {
		width: 90%;
	}
}
.form-wrap {
	padding: 50px 0px 10px;
    overflow: hidden;
}
.form-left {
	width: 50%;
	float: left;
}
.form-right {
	width: 50%;
	float: right;
}
textarea {
	width: 95%;
	margin-bottom: 10px;
	padding: 10px;
	border: 1px solid #eee;
	border-radius: 3px;
	height: 140px;
}
.submit {
	padding: 10px 40px;
    border: none;
    border-radius: 3px;
    color: #fff;
    background: #00b0f4;
}
.footer {
	width: $ancho60;
	margin: 0px auto;
	color: $color-aaa;
	font-size: 10px;
	@media all and (max-width: 768px) {
		text-align: center;
	}
}
footer {
	background: #091722;
	padding: 20px 0px;
	overflow: hidden;
	background: #091722;
    padding: 20px 0px;
	    p {
		float: left;
	}
	nav {
		float: right;
		margin-right: 0px;
		ul li {
			display: inline-block;
			margin-left: 30px;
			@media all and (max-width: 768px) {
				margin-left: 10px;
			}
			@media all and (max-width: 640px) {
				display: inline-block;
			}
		}
	}
	a {
		color: $color-aaa;
		text-transform: capitalize;
	}
	@media all and (max-width: 768px) {
		p {
			float: none;
		}
		nav {
			float: none;
		}
	}
}
@media all and (max-width: 640px) {
	.hostro-serv {
		text-align: center;
	}
	.hsimgl, .hsimgr {
		float: left;
	}
	.wrap-precios {
    	margin-top: 50px;
	}
	.form-left, .form-right {
		padding: 0px;
	}
}
@media all and (max-width: 480px) {
	.form-left {
    	width: 100%;
	}
	.form-right {
    	width: 100%;
	}
	textarea {
    	width: 100%;
    }	
}